In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load (*Remember to Change These)
ogfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
gamers_df = pd.read_csv(ogfile)
gamers_df.columns #Just want to print out all of the columns so I have them in a list

#PC = pseudocode

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [68]:
# check out the df
gamers_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
#---Display the total number of players---#
# I want to just see SN as a list
gamers_df["SN"].unique() #This is displaying all of the unique number of screennames (SN)

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [77]:
# PC: I want to find the total number of unique players (SN) without this dataframe. I plan to create
# a new variable and set it to find unique players.
totalplayers = len(gamers_df["SN"].unique())
#I am adding on a new column to the original titled total players. It will be the same for all rows. 
gamers_df["Total Players"] = totalplayers
gamers_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,576
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,576
2,2,Ithergue48,24,Male,92,Final Critic,4.88,576
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,576
4,4,Iskosia90,23,Male,131,Fury,1.44,576

In [ ]:
# PC: Here I want to display only the total unique players so I am picking out the column "Total Players"
# and displaying it with a .head(1) to pull the column title, index, and one line.

In [105]:
players = {'Total Players': [gamers_df['SN'].count()]}
players_count = pd.DataFrame(players)
players_count

   Total Players
0            780

In [ ]:
#---Purchasing Analysis (Total)---#
#Run basic calculations to obtain number of unique items, average price, etc
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

In [ ]:
# PC:
# I need to establish the formulas as variables and place them into a dictionary.
# a few of these will need to be ints and the others will be floats

In [46]:

items = int(len(gamers_df["Item Name"].unique()))
prices = float(round(gamers_df["Price"].mean(),2))
purchases = int(len(gamers_df["Purchase ID"]))
revenue = float(gamers_df["Price"].sum())
#newdictionary = {'Number of Unique Items':items}

In [ ]:
#PC: I now want to create a dictionary with new column titles for each new variable; the variables will be the 
#the values. I will then create a new dataframe and assign the new dictionary to it. This is similar to 
#the breakout where we create a dictionary of states and abbreviations. 
    #I need to f string a few items since we need to display $ signs.

In [11]:
newdict = [{'Number of Unique Items': items, "Average Price": (f'${prices}'), 
           "Number of Purchases": purchases,  "Total Revenue": (f'$ {revenue}')}]
newdata_df = pd.DataFrame(newdict)
newdata_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $ 2379.77

In [ ]:
#Gender Demographics
    #Percentage and Count of Male Players
    #Percentage and Count of Female Players
    #Percentage and Count of Other / Non-Disclosed
#PC: I am going to need to pull this from gamers_df and create new variables with formulas. I can then create a new
#dataframe but then I will need to reassign the genders to the indexes (this will be like the phonebook activity)

In [8]:
genders = len(gamers_df["Gender"])
male = len(gamers_df.loc[gamers_df["Gender"] == 'Male'])
female = len(gamers_df.loc[gamers_df["Gender"] == 'Female'])
nondisc = len(gamers_df.loc[gamers_df["Gender"] == 'Other / Non-Disclosed'])
# Formula from variables
maleper = float((male / genders) * 100)
femper = float((female / genders) *100)
nondiscper = float((nondisc / genders) *100)

In [9]:
#practice:
#dictionary = {'': ['Apples', 'Oranges', 'Puppies', 'Ducks'],'Column 1': [1.0, 2.0, 3.0, 4.0]}
#df = pd.DataFrame(dictionary).set_index('')
#print (df)
#print (df.index.name)
#Index Title
#print (df.columns.name)
#None

         Column 1

Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

In [107]:
players_by_gender = gamers_df['Gender'].value_counts()
players_by_gender_df = pd.DataFrame(players_by_gender)

In [79]:
# New dataframe containing the new variables 
genderdict = {'': ['Male', 'Female', 'Other / Non-Disclosed'],'Total Count': [male,female,nondisc],
            'Percentage of Players': [round((maleper),2),round((femper),2),round((nondiscper),2)]}
            
genderdata_df = pd.DataFrame(genderdict).set_index('')
genderdata_df.head()
#new_df = genderdata_df.set_index('')
#new_df
       
#newgenderdata_df = genderdata_df.set_index(['Male'])
#newgenderdata_df
#gendercounts = gamers_df["Gender"].value_counts()
#gendercounts.head()
#groupedgender_df = gamers_df.groupby(["Gender"])
#groupedgender_df.head()

                       Total Count  Percentage of Players

Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

In [81]:
# My variables for my next genderdictionary2 - I will likely need to groupby here.

In [104]:
gamers_df["Gender"].value_counts()
gamers_df["Price"].mean()
gamers_df['Price'].sum()

2379.77

In [ ]:
#Age Demographics
    #Establish bins for ages
    #Categorize the existing players using the age bins. Hint: use pd.cut()
    #Calculate the numbers and percentages by age group
    #Create a summary data frame to hold the results
        #Optional: round the percentage column to two decimal points
        #Display Age Demographics Table

In [ ]:
#Purchasing Analysis (Age)
    #Bin the purchase_data data frame by age
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. 
    #in the table below
    #Create a summary data frame to hold the results
       #Optional: give the displayed data cleaner formatting
        #Display the summary data frame

In [ ]:
#Top Spenders
    #Run basic calculations to obtain the results in the table below
    #Create a summary data frame to hold the results
    #Sort the total purchase value column in descending order
        #Optional: give the displayed data cleaner formatting
        #Display a preview of the summary data frame

In [ ]:
#Most Popular Items
    #Retrieve the Item ID, Item Name, and Item Price columns
    #Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
    #Create a summary data frame to hold the results
    #Sort the purchase count column in descending order
        #Optional: give the displayed data cleaner formatting
        #Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
    #Sort the above table by total purchase value in descending order
        #Optional: give the displayed data cleaner formatting
        #Display a preview of the data frame