In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (*Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
games_df = pd.read_csv(file)
games_df.columns #Just want to print out all of the columns so I have them in a list

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [2]:
#CHALLENGE 1: Player Count --DONE
 #Display the total number of players

In [3]:
#I just want to display an example of the DF. 
games_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#I am going to drop all on my duplicates SN's then double check the new DF count for SNs. 
nodups_df = games_df.drop_duplicates("SN",inplace = False) 
#inplace = False will return a copy of the DF but with the duplicates dropped
nodups_df['SN'].count()

576

In [5]:
#I plan to make a dictionary for the total players. Assign the key to = Total Players 
#then the value to = my newly created dataframe without dupes for just the SN. 
totalplayersdict = {'Total Players': [nodups_df['SN'].count()]}
#Convert dictionary to a pd.DataFrame; I'll title the conversion to a new variable
totalplayers_df = pd.DataFrame(totalplayersdict)
#print out new DF
totalplayers_df

   Total Players
0            576

In [6]:
#CHALLENGE 2: Purchasing Analysis (Total) --DONE
#Run basic calculations to obtain number of unique items, average price, etc
#Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

In [7]:
# I need to establish the formulas as variables and place them into a dictionary.
items = len(games_df["Item Name"].unique())
prices = round(games_df["Price"].mean(),2)
purchases = games_df["Purchase ID"].count()
revenue = games_df["Price"].sum()

In [8]:
#I now want to create a dictionary with new column titles for each new variable; the variables will be the 
#the values. I will then create a new dataframe and assign the new dictionary to it. This is similar to 
#the breakout where we created a dictionary of states and abbreviations. 
    #I need to f string and the new format method for inserting special characters

In [9]:
newdict = [{'Number of Unique Items': items, "Average Price": (f'${prices}'), 
           "Number of Purchases": purchases,  "Total Revenue": revenue}]
newdata_df = pd.DataFrame(newdict)
newdata_df["Total Revenue"] = newdata_df["Total Revenue"].map("${:,}".format)
newdata_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [10]:
# CHALLENGE 3: GENDER DEMOGRAPHICS: --DONE
    #Percentage and Count of Male Players
    #Percentage and Count of Female Players
    #Percentage and Count of Other / Non-Disclosed

In [32]:
#I will need to do something similar to the above by creating variables, creating formulas with said variables
#then further down making a new dictionary and converting that dictionary to a pd.DataFrame
genders = nodups_df['Gender'].count()
male = len(nodups_df.loc[nodups_df["Gender"] == 'Male'])
female = len(nodups_df.loc[nodups_df["Gender"] == 'Female'])
nondisc = len(nodups_df.loc[nodups_df["Gender"] == 'Other / Non-Disclosed'])
# Formula from variables
maleperc = (male / genders) * 100
femperc = (female / genders) *100
nondiscperc = (nondisc / genders) *100

In [37]:
genderdict = {'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],'Total Count': [male,female,nondisc],
            'Percentage of Players': [round((maleperc),2),round((femperc),2),round((nondiscperc),2)]}
            
genderdata_df = pd.DataFrame(genderdict).set_index('Gender')
#Like above: I need to f string and the new format method for inserting special characters
genderdata_df['Percentage of Players'] = genderdata_df['Percentage of Players'].map("{:.2f}%".format)
genderdata_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [ ]:
#CHALLENGE 4: PURCHASING ANALYSIS (GENDER)
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. 
    #by gender
#I want to try and create a groupby here for the genders. I should be able to then assign a player 
# Calculate purchase count by gender
all_gen_df = nodups_df.groupby('Gender')
playercount = all_gen_df['SN'].count()
playercount = pd.DataFrame(playercount)
playercount
#averageprice = nodups_df['Price'].mean()
#totalprice = nodups_df['Price'].sum()






    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

In [38]:
# CHALLENGE 5: AGE DEMOGRAPHICS
    #Establish bins for ages - DONE
    #Categorize the existing players using the age bins. Hint: use pd.cut()
    #Calculate the numbers and percentages by age group
    #Create a summary data frame to hold the results
    #Optional: round the percentage column to two decimal points
    #Display Age Demographics Table

In [73]:
# Create the bins in which Data will be held  
agebins = [0, 9.9, 14, 19, 24, 29, 34, 39, 99]
# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-20","30-34","35-39","40+"]
# We want to take the total number of gamers 
games_df["Age"] = pd.cut(games_df['Total Count'], bins, labels=group_names) 
games_df
#games_df['Age'].value_counts()
#games_df = games_df['Age']/ games_df['Age']
#games_df

KeyError: 'Total Count'

In [59]:
# CHALLENGE 6: Purchasing Analysis (Age)
    #Bin the purchase_data data frame by age
    #Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

In [ ]:
# CHALLENGE 7:  Top Spenders
    #Run basic calculations to obtain the results in the table below
    #Create a summary data frame to hold the results
    #Sort the total purchase value column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

In [ ]:
# CHALLENGE 8: Most Popular Items
    #Retrieve the Item ID, Item Name, and Item Price columns
    #Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
    #Create a summary data frame to hold the results
    #Sort the purchase count column in descending order
    #Optional: give the displayed data cleaner formatting
    #Display a preview of the summary data frame

In [ ]:
# CHALLENGE 9:  Most Profitable Items
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame